@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
	}
	
body{
	margin:0px;
	background: #edfbfd;

}

h1,h2,h3,h4,h5,h6{
	font-weight:bold;
}

#header{
	position:relative;
	background: url(template_image/header_bg.png) repeat-x;
	height: 60px;
	border-bottom: 1px solid #9c9c9c;
}

#header .container{	
}

#logo {
	max-width: 100px;
	}

#logo a{
	margin-top: 15px;
	position: absolute;
	width: 215px;
	height: 35px;
	background: url(template_image/logo.png) no-repeat;
	}

#logo a:hover{
	margin-top: 15px;
	position: absolute;
	width: 215px;
	height: 35px;
	background: url(template_image/logo_hover.png) no-repeat;
	}
	
/*------------ lower header -------------*/
#menu {
	height: 101px;		
	}

.menu{	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;	
	background: url(template_image/menu_bg.png) repeat-x;
	position: absolute;
	width: 1020px;
	margin-top: 70px;
	height: 40px;
}
		
.top_nav.logged_out{
	margin-left: -38px;
	margin-top: -17px;
	padding-top:16px;
	list-style:none;
	line-height:26px;
	
}

.top_nav{
	padding-left:-20px;
	}

.top_nav li{
	float:left;
}

.top_nav a{
	display:block;
	margin-top: 0px;
	padding: 7px 21px 7px 21px;
	font-size: 17px;
	border-left: 1px double #919191;
	border-right: 1px double #919191;
	font-family: Trebuchet MS;
	color: #fff;
	text-decoration: none;
	/*text-shadow: 0 1px 0 rgba(255,255,255,0.5);*/
}

.top_nav a:hover{
	background: url(template_image/menu_hover_bg.png) repeat-x;
	font-size: 17px;
	padding: 5px 20px 5px 20px;
	border: 2px solid #636363;
	font-family: Trebuchet MS;
	color:#fff;
	text-decoration:none;
}

.top_nav a:active{
	/*-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;*/
	padding: 5px 20px 5px 20px;
	border: 2px solid #2d2d2d;
	background: url(template_image/menu_active_bg.png) repeat-x;
	font-size: 17px;
	font-family: Trebuchet MS;
	color:#fff;
	text-decoration:none;
}

#static_image {
	margin-top: 10px;
	padding: 5px 19px 5px 19px;
	border: 2px solid #2d2d2d;
	background: url(template_image/menu_active_bg.png) repeat-x;
	font-size: 17px;
	font-family: Trebuchet MS;
	color:#fff;
	text-decoration:none;
}


#search{
	background: url(template_image/search.png) no-repeat;
	position: absolute;
	margin-top: 70px;
	margin-left: 780px;
	max-width: 230px;
	max-height: 50px;
	z-index: 1;
}
	
.login{
	margin-top: -5px;
	float:right;
	padding-top: -50px;
	font-size:11px;
	font-family: Trebuchet MS;
}

.login table tr{
	vertical-align:top;
}

.login .login_label{
	padding-bottom:4px;
}

.login table tr td{
	padding:0pt 0pt 0pt 14px;
}

td,td.label{
	font-size:11px;
	text-align:left;
}

.login .login_label label{
	color:#CCC;
	font-weight:normal;
	padding-left:5px;
}

label{
	cursor:pointer;
	vertical-align:middle;
	color:rgb(102,102,102);
	font-weight:normal;
}

.login_button{
	margin-top: 0px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 11px;
	font-weight: bold;
	color: #3f3f3f;
	border: 1px solid #757575;
	min-width: 60px;
	min-height: 23px;
	background: #d3d3d3;
}

.login_button:hover{
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 11px;
	font-weight: bold;
	color: #d3d3d3;
	border: 1px solid #757575;
	min-width: 60px;
	min-height: 23px;
	background: #4a4848;
}

.login_button:active{
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 11px;
	font-weight: bold;
	color: #d3d3d3;
	border: 1px solid #757575;
	min-width: 60px;
	min-height: 23px;
	background: #1c1c1c;
}

.login .login_label_field a{
	color:#000;
	padding-left:5px;
	text-decoration: none;
}

.login .login_label_field a:hover{
	font-style:italic;
	text-decoration:underline;
	color:#000;
}

.inputtext {
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #f2efef;
	border: 1px solid #000;
	height: 20px;
	}

#spacing{
	position:relative;
	bottom:0;
	clear:both;
}

#wrapper{
	height: auto;
	min-height: 100%;
}

#main_content{
	overflow:auto;
	padding-bottom: 190px;
}

/*--------------- Footer ----------------*/

#footer_wrap {
	font-family: Trebuchet MS;
	position: relative;
	margin-top: -190px; /* negative value of footer height */
	height: 190px;
	clear:both;
} 
	
#footer_wrap .upper_footer_wrap{
	overflow:hidden;
	border-top: 1px solid #9c9c9c;
	box-shadow:0pt -1px 0pt white inset;
	background: #d9f7fb url(template_image/footer_bg.png) repeat-x;
}

.clearfix{
	display:block;
}
		  
.container{
	width:1020px;
	margin:0pt auto;
}

#footer_wrap .upper_footer_wrap .ul {
	margin-left: 130px;
	margin-top: 5px;
	}

#footer_wrap .upper_footer_wrap ul.footer_nav{
	position:relative;
	float:left;
	width:164px;
}

#footer_wrap .upper_footer_wrap ul.footer_nav h4{
	font-size:15px;
	text-transform: uppercase;
	color:#000;
	margin-top: -15px;
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom:1px solid #9c9c9c;
}

#footer_wrap li{
	font-size:13px;
	list-style:none outside none;
}

#footer_wrap a{
	line-height: 12px;
	font-size: 13px;
	color:#000;
	text-decoration:none;
}

#footer_wrap a:hover {
	font-style:italic;
	color:#000;
	text-decoration:underline;
}
#footer_wrap .lower_footer_wrap div p{
	display: inline;
	position: relative;
	float: left;
	clear: both;
	margin-top: 10px;
}

#footer_wrap .lower_footer_wrap .payment_image{
	float: right;
	margin-top: 35px;
	padding-bottom: 25px;
}



#lower_footer_wrap{
	border-top: 1px solid #d7f7fb;
	margin-top: -10px;
	font-size: 15px;
	background: url(template_image/lower_footer_bg.png) repeat-x;
}

#lower_footer_wrap .logo_image {
	position: absolute;
	margin-top: -135px;
	margin-left: 25px;
	}
	
#lower_footer_wrap .payment_image {
	margin-top: -10px;
	
	}
	
#lower_footer_wrap .copyright {
	font-size: 13px;
	margin-top: -10px;
	font-weight: bold;
	
	}
/*------------ content -------------*/
.site_body {
	width:1000px;
	margin:0pt auto;
}

.auction_container {
	-moz-border-radius: 30px;
	box-shadow: 8px 8px 12px #666666;
	border-radius: 30px;
	border: 1px solid #666666;
	background: #e3e8fd;
	/*position: absolute;*/
	padding-right: 10px;
	margin-bottom: 20px;
	
}

.auction_box {
	-moz-border-radius: 20px;
	box-shadow: 5px 5px 10px #666666;
	border-radius: 20px;
	margin-left: 10px;
	float: left;
	position: relative;
	border: 3px solid #123456;
	width: 190px;
	height: 340px;
	list-style: none;
	background: #d9f7fb;
	font-family: Trebuchet MS;
}

.title{
	font-size: 17px;
	font-weight: bold;
	position: absolute;
	top: 5px;
	right: 20px;
	width: 190px;
	text-align: center;
	}

.button_title {
	background: none;
	border: none;
	width: 190px;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	white-space: normal;
	cursor: pointer;
	color: #000;
	}

.button_title:hover {
	background: none;
	border: none;
	width: 190px;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	white-space: normal;
	cursor: pointer;
	color: #9c9c9c;
	}

.image {
	position: absolute;
	top: 50px;
	right: 9px;
	width: 210px;
	height: 150px;	
	text-align: center;
	}
	
.bid_current{
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	top: 205px;
	right: 10px;
	width: 210px;
	height: 40px;
	text-align: center;
	}

.bid_current_color{
	color: #dbd100;
	}
	
.bid_box{
	position: absolute;
	top: 245px;
	right: 3px;
	width: 220px;
	height: 45px;
	}

.bid_timer{	
	font-size: 18px;
	margin-top: 10px;
	margin-left: -10px;
	float: left;
	width: 95px;
	text-align: center;
	border-right: 1px solid #000;
	}
	
.bid_price{
	margin-top: 25px;
	margin-right: 0px;
	float: right;
	width: 108px;
	text-align: center;
	}

.bid_button {
	position: absolute;
	top: 3px;
	left: 95px;
	}
/*---------- BID BUTTON ----------*/

.button {
	-moz-border-radius: 10px;
	box-shadow: 2px 2px 10px #666666;
	border-radius: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	border: 2px solid #039503;
	min-width: 120px;
	min-height: 35px;
	background: url(template_image/button.png) repeat-x;
	}

.button:hover {
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	border: 2px solid #039503;
	min-width: 120px;
	min-height: 35px;
	background: url(template_image/button_hover.png) repeat-x;
	}

.button:active {
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	border: 2px solid #039503;
	min-width: 120px;
	min-height: 35px;
	background: url(template_image/button_active.png) repeat-x;
	}

/* ---------- BUTTON END ---------- */

/* ---------- After Log In Top Header ---------- */

#after_log_in {
	font-size: 15px;
	font-weight: bold;
	width: 250px;
	margin-top: 15px;
	color: #000;
	}
	
#after_log_in a{
	font-size: 13px;
	font-weight: bold;
	width: 250px;
	margin-top: 10px;
	color: #000;
	}
	
.user_name img {
	margin-top: 10px;
	}

#after_log_in .user_name a{
	position: absolute;
	margin-top: 10px;
	margin-left: 5px;
	}

.logout {

	position: absolute;
	margin-top: -17px;
	margin-left: 200px;
	}
	
.logout a{
	text-decoration:none;
	}
	
.logout_button {
	padding-top: 2px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #3f3f3f;
	border: 1px solid #757575;
	min-width: 60px;
	min-height: 18px;
	background: #d3d3d3;
	text-decoration: none;
	}

.logout_button:hover{
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #d3d3d3;
	border: 1px solid #757575;
	min-width: 60px;
	min-height: 18px;
	background: #4a4848;
}

.logoutn_button:active{
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #d3d3d3;
	border: 1px solid #757575;
	min-width: 60px;
	min-height: 18px;
	background: #1c1c1c;
}
	
.token {
	margin-top: -10px;
	font-size: 12px;
	}

/* ---------- After Log In Top Header END ---------- */
.bid_spot{
	font-size: 12px;
	position: absolute;
	top: 48px;
	right: 10px;
	width: 80px;
	height: 35px;
	text-align: center;
	}

#auto_bidder{
	font-size: 12px;
	position: absolute;
	top: 48px;
	left: 10px;
	width: 80px;
	height: 35px;
	text-align: center;
	}



/*------------------FAQ---------------*/

#form_container a{
	text-decoration: none;
	list-style: none outside none;
	color: #000;
}

#form_container a:hover{
	color: #8C1717;
}

.faq a{
	color: #000;
	text-decoration: none;
	list-style: none outside none;
}

.faq a:hover {
	font-style:italic;
	color: #8C1717;
	text-decoration:underline;
}

/*------------ register form -------------*/	

#form_container {
	margin-left: 160px;
	margin-right: 150px;
	text-align: justify;
	font-family: Trebuchet MS;
	font-size: 14px;
}

#form_container #myForm td {
	font-size: 15px;
}

#form_container .smallfont {
	font-size: 15px;
	float: left;
}

#form_container #myForm smallfont{
	font-size: 11px;
}

/*------------ feedback form -------------*/	
#feedback {
	margin-top: 10px;
	margin-left: 100px;
	width: 800px;
	}

#feedback #myForm td{
	padding-top: 30px;
	}

/*------------ forgot password form -------------*/	
#forgot fieldset{
	max-width: 500px;
	border: none;
	}

#forgot span{
	position: absolute;
}
/*------------ End -------------*/	

/*------------ Admin Menu -------------*/	
#admin_menu a{
	color: #000;
	font-size: 18px;
	}

#admin_menu a:hover{
	color: #bdb9ba;
	font-size: 18px;
	}
	
#admin_menu a:active{
	color: #940404;
	font-size: 18px;
	}

#user_list {
	margin-left: -100px
	}

#user_list #admin_menu{
	margin-left: 80px
	}
	
#user_list td{
	line-height: 20px;
	min-width: 120px;
	}

#user_list .title_bold {
	font-weight: bold;
	}

/*------------ Admin Menu End -------------*/	


/*------------Description Page -------------*/	

#description {
	width: 900px;
	margin-top: 10px;
	margin-left: 50px;
	margin-bottom: 0px;
	}
	
#description .product_image {
	
	width:410px;
	height: 293px;
	margin-top: 0px;
	}
	
#description .product_image img {
	margin-left: 10px;
	margin-top: 0px;
	}
	
#description .product {
	-moz-border-radius: 20px;
	border-radius: 20px;
	box-shadow: 2px 2px 10px #666666;
	border: 1px solid #000;
	width: 450px;
	height: 550px;
	margin-top: 0px;
	}

#product .name {
	font-size: 25px;
	text-align: center;
	min-width: 900px;
	padding: 10px 10px 10px 10px;
	font-weight: bold;
	}

.product .description {
	font-size: 25px;
	text-align: center;
	width: 400px;
	height: 520px;
	padding: 10px 10px 10px 10px;
	margin-left: 15px;
	margin-top: 20px;
	}
	
	
#description .desc_bid_box {
	-moz-border-radius: 20px;
	border-radius: 20px;
	box-shadow: 2px 2px 10px #666666;
	border: 1px solid #000;
	width:400px;
	height: 250px;
	margin-top: -30px;
	margin-left: 10px;
	}
	
.desc_bid_box .price {
	border: 1px solid #000;
	width: 350px;
	height: 40px;
	margin-left: 20px;
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
	}

.desc_bid_box .price .price_title{
	font-size: 20px;
	font-weight: normal;
	color: #000;
	}
	
.price .current_bid_price {
	font-size: 23px;
	width: 150px;
	margin-top: -30px;
	text-align: center;
	font-weight: bold;
	color: #0bbb0b;
	}
	
.price .market_price{
	font-size: 23px;
	text-align: center;
	width: 180px;
	height: 40px;
	padding-top: 10px;
	margin-top: -58px;
	float: right;
	text-align: center;
	font-weight: bold;
	color: #ff0000;
	}
	
.desc_bid_box .highest_bidder {
	font-size: 16px;
	text-align: center;
	width: 180px;
	height: 40px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: -130px;
	margin-left: 200px;
	}
	
.desc_bid_box #top_highest_bidder {
	font-size: 22px;
	text-align: center;
	font-weight: bold;
	margin-top: -45px;
	}
	
.desc_bid_box .timer {
	font-size: 25px;
	text-align: center;
	width: 130px;
	padding: 10px 10px 10px 10px;
	margin-top: 30px;
	margin-left: 20px;
}

.desc_bid_box .product_bid_button {
	
	font-size: 25px;
	text-align: center;
	width: 130px;
	padding: 10px 10px 10px 10px;
	margin-left: 20px;
	
}

.desc_bid_box  .bid_button{
	
	position: relative;
	margin-left: -180px;
	
}

/*------------ Description Page End -------------*/	

/*---------- Buy Tokens ----------*/

.buy_tokens {
	min-width: 720px;
	text-align:justify;
	}
	
.package_value {
	min-width: 800px;	
	}
	
.package_value .token_nav{
	box-shadow: 2px 2px 10px #666666;
	border: 1px solid #000;	
	list-style-type: none;
	position:relative;
	float:left;
}
	
.package_value .token_nav h4{		
	font-size: 15px;
	border-bottom: 1px solid #000;
	margin-left: -40px;
	min-width: 240px;
	padding-top: 0px;
	padding-bottom: 10px;
	text-align: center;
	}


.package_value .token_nav li{	
	font-size: 15px;
	margin-left: -40px;
	min-width: 240px;
	padding-top: 0px;
	padding-bottom: 30px;
	text-align: center;
}

.token_nav .token_value {
	padding: 5px 20px 5px 20px;	
	border: 2px solid #E3E8FD;
	}

.token_nav .price_button {
	-moz-border-radius: 10px;
	border-radius: 10px;
	max-width: 60px;
	padding: 5px 20px 5px 20px;
	margin-left: 70px;
	font-weight: bold;
	color: #575857;
	border: 2px solid #f4e831;
	background: url(template_image/price_button.png) repeat-x;
	}
	
.token_nav .price_button:hover {
	background: url(template_image/price_button_hover.png) repeat-x;
	}
	
.token_nav .price_button:active {
	background: url(template_image/price_button_active.png) repeat-x;
	}
	
.package2 {
	font-size: 1px;
	}
	
	
/*---------- buy_tokens end ----------*/


/*------------ Site Status ----------*/
.status_box{
	height: 500px;
	}
.status_left {
	background: url(template_image/left.png) no-repeat;
	min-width: 300px;
	min-height: 110px;
	font-size: 18px;
	padding: 20px 15px 0px 15px;
	float: left;
	}
	
.status_right {
	background: url(template_image/right.png) no-repeat;
	min-width: 300px;	
	min-height: 110px;
	font-size: 18px;
	padding: 20px 15px 0px 15px;
	float: right;
	}

/*------------ Site Status End ----------*/











/*------------ OPERA CSS----------*/
@media not screen and (1)
{
   /*---------- FOOTER ----------*/
   #footer_wrap .upper_footer_wrap ul.footer_nav h4{
	font-size:16px;
	text-transform: uppercase;
	color:#000;
	margin-top: -15px;
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom:1px solid #9c9c9c;
}

	#footer_wrap li{
	margin-top: 8px;
	font-size:15px;
	list-style:none outside none;
}
   /*----------Footer End ----------*/
   
   /*----------FAQ ----------*/
	
	#form_container .faq a:hover {
	font-style:normal;
	color: #8C1717;
	text-decoration:underline;
}

   
   /*----------FAQ End ----------*/
   
}


/* MOZILLA */

@-moz-document url-prefix() {
    #main_content{
	overflow:auto;
	padding-bottom: 202px;
}

/*--------------- Footer ----------------*/

	#footer_wrap {
	position: relative;
	margin-top: -202px; /* negative value of footer height */
	height: 202px;
	clear:both;
} 
                    
	}