<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset=utf-8" />
<link href="../template/style.css" rel="stylesheet" type="text/css"  />
<!--[if lt IE 10]>
	<link href="../template/style_ie.css" rel="stylesheet" type="text/css"  />
	<![endif]-->
</head>

<body>
<div id="footer_wrap">
<!--upper_footer-->
	<div class="upper_footer_wrap">
    	<div class="container clearfix" align="left">
			<div class="ul">
                <ul class="footer_nav">
                	<h4>Coincod</h4>
                	<li>
                		<a href="../About_Us">About Us</a>
                	</li>
                	<li>
                		<a href="../FAQ">FAQ</a>
                	</li>
                	<li>
                		<a href="../Career">Careers</a>
                	</li>
                	<li>
                		<a href="../Feedback">Feedback</a>
                	</li>
                </ul>
                
                <ul class="footer_nav">
                	<h4>Other Features</h4>
                	<li>
                		<a href="../Location">Location</a>
                	</li>
                	<li>
                		<a href="../Graphics">Graphics</a>
                	</li>
                	<li>
                		<a href="../Site_Status">Site Status</a>
                	</li>
                </ul> 
                
                <ul class="footer_nav">
                	<h4>Social Networks</h4>
                	<li>
                		<a href="">Like Us at Facebook</a>
                	</li>
                	<li>
                		<a href="">Follow Us at Twitter</a>
                	</li>
                	<li>
                		<a href="">Plus One at Google+</a>
                	</li>
                	<li>
                		<a href="">Follow Us at Pinterest</a>
                	</li>
                	<li>
                		<a href="../../auction_blog">Subscribe to Our Blog</a>
                	</li>
                </ul>
                
                <ul class="footer_nav">
                	<h4>Legal</h4>
                	<li>
                		<a href="../Terms">Terms of Service</a>
                	</li>
                	<li>
                		<a href="../Privacy">Privacy</a>
                	</li>
                	<li>
                		<a href="../Security">Security</a>
                	</li>
                </ul>
			</div> <!--end div ul-->
       </div>  <!--end div container clearfix-->
	</div>  <!--end div upper_footer_wrap-->
<!--end of upper_footer-->
	 

<!--lower_footer-->     
	<div id="lower_footer_wrap">
		<div class="container">
			<div class="logo_image">
				<a href="../../CoinCod"><img src="../template/template_image/logo2.png" width="80px" border="0"></a>
			</div>  <!--end div logo_image-->
				
	 		<div class="payment_image">
	 			<p/><a href="http://www.molpay.com/"><img src="../template/template_image/payment.png" width="900" border="0"></a>
	 		</div>  <!--end div payment_image-->
	 
     		<div class="copyright">
	 			<p>Copyright &copy; 2012 NexVend. All rights reserved.</p>
	 		</div>  <!--end div copyright-->
	 	</div>  <!--end div container clearfix-->
	</div>  <!--end div lower_footer_wrap-->

</div><!--end of footer_wrap-->
</body>
</html>
